<div class="month-name-container">
 {{ month.nameForView }}
</div>
<div class="week-names-container">
  <div class="week-name">Пн</div>
  <div class="week-name">Вт</div>
  <div class="week-name">Ср</div>
  <div class="week-name">Чт</div>
  <div class="week-name">Пт</div>
  <div class="week-name">Сб</div>
  <div class="week-name">Вс</div>
</div>
<div class="days-container">
  <button
    class="day"
    (click)="selectDay(day)"
    [ngClass]="day.cssClasses$ | async"
    [attr.style]="sanitizer.bypassSecurityTrustStyle(day.customProperties$ | async)"
    *ngFor="let day of month.days"
  >{{ day.date.getDate() }}</button>
</div>
