<div class="month-name-container">
 {{ month.nameForView }}
</div>
<div class="week-names-container">
  <div class="week-name">Пн</div>
  <div class="week-name">Вт</div>
  <div class="week-name">Ср</div>
  <div class="week-name">Чт</div>
  <div class="week-name">Пт</div>
  <div class="week-name">Сб</div>
  <div class="week-name">Вс</div>
</div>
<div class="week" *ngFor="let week of month.weeks">
  <button
    class="day"
    (click)="selectDay(day)"
    *ngFor="let day of week.days"
  >{{ day.date.getDate() }}</button>
</div>
